@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

$font: "Roboto", sans-serif;

$primary-color: rgb(24, 119, 242);
$bg-color: #f0f2f5;
$white-color: #ffffff;

$text-color: rgb(101, 103, 107);
$text-bold-color: rgb(5, 5, 5);

$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-bold: 700;
