@import "../../styles/base";

.sideBarItem {
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 8px;
  padding: 6px 10px 6px 6px;
  &:hover {
    transition: 0.2s ease;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
  }

  img {
    width: 36px;
    height: 36px;
  }
}
