@import "../../styles/base";

.sideBarLeft {
  .sideBar {
    &__list {
      &-title {
        padding: 16px 10px 10px 0;
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    &__user {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 6px 10px 6px 6px;
      &:hover {
        transition: 0.2s ease;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 999px;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 6px 10px 6px 6px;
      gap: 14px;

      &:hover {
        transition: 0.2s ease;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
      }

      &-icon {
        border-radius: 999px;
        width: 36px;
        height: 36px;
        background: rgba(0, 0, 0, 0.13);
        font-size: 22px;
        @include flex(row, center, center);
      }
    }
  }
}
