@import "../../styles/base";

.login {
  @include flex(column, center);
  @include fadeIn;

  &__form {
    padding: 18px 18px 25px 18px;
    max-width: 396px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    background-color: $white-color;

    &-errorText {
      color: $red-color;
      font-size: 13px;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 15px 20px;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: 16px;

    &:focus {
      outline: 1px solid $primary-color;
      box-shadow: 0 0 2px 1px $primary-color;
    }

    &--error {
      outline: 1px solid $red-color;

      &:focus {
        outline: 1px solid $red-color;
        box-shadow: 0 0 2px 1px $red-color;
      }
    }

    &::placeholder {
      color: $text-color;
    }
  }

  &__btn {
    width: 100%;
    text-align: center;

    button {
      font-weight: $text-bold;
      padding: 15px 18px;
      color: $white-color;
      border-radius: 5px;
      border: none;
      outline: none;
      font-size: 18px;
    }

    &-submit {
      width: 100%;
      color: black;
      margin-bottom: 20px;
      background-color: $primary-color;
      margin-top: 20px;
    }

    &-forgotPass {
      color: $primary-color;
      font-size: 15px;
      cursor: pointer;
    }

    &-createAcc {
      margin-top: 30px;
      background-color: $green-color;
    }
  }

  &__text {
    max-width: 376px;
    text-align: center;
    font-size: 15px;
    margin-top: 30px;

    strong {
      font-weight: $text-medium;
      color: $text-bold-color;
    }
  }
}
